<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orion_pax.dao.DiscussionMapper">
  <resultMap id="DiscussionBaseResultMap" type="orion_pax.entity.Discussion">
    <result column="d_id" jdbcType="VARCHAR" property="id" />
    <result column="d_name" jdbcType="VARCHAR" property="name" />
    <result column="d_remark" jdbcType="VARCHAR" property="remark" />
    <result column="d_start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="d_status" jdbcType="INTEGER" property="status" />
    <result column="d_p_id" jdbcType="VARCHAR" property="pId" />
    <result column="d_u_id" jdbcType="VARCHAR" property="uId" />
  </resultMap>
  <resultMap id="DiscussionResultMap" type="orion_pax.entity.Discussion" extends="DiscussionBaseResultMap">
    <association property="startUser" resultMap="UserBaseResultMap" javaType="orion_pax.entity.User" />
  </resultMap>
  <resultMap id="UserBaseResultMap" type="orion_pax.entity.User">
    <result column="u_id" jdbcType="VARCHAR" property="id"/>
    <result column="u_email" jdbcType="VARCHAR" property="email"/>
    <result column="u_pwd" jdbcType="VARCHAR" property="pwd"/>
    <result column="u_name" jdbcType="VARCHAR" property="name"/>
    <result column="u_img" jdbcType="VARCHAR" property="img"/>
    <result column="u_tel" jdbcType="VARCHAR" property="tel"/>
  </resultMap>
  <resultMap id="ReplyBaseResultMap" type="orion_pax.entity.Reply">
    <result column="r_id" jdbcType="VARCHAR" property="id" />
    <result column="r_remark" jdbcType="VARCHAR" property="remark" />
    <result column="r_reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="r_u_id" jdbcType="VARCHAR" property="uId" />
    <result column="r_d_id" jdbcType="VARCHAR" property="dId" />
  </resultMap>
  <resultMap id="ReplyResultMap" type="orion_pax.entity.Reply" extends="ReplyBaseResultMap">
    <association property="user" resultMap="UserBaseResultMap" javaType="orion_pax.entity.User" />
  </resultMap>
  <resultMap id="DiscussionDetailResultMap" type="orion_pax.entity.Discussion" extends="DiscussionBaseResultMap">
    <collection property="replyList" resultMap="ReplyResultMap" javaType="java.util.List" ofType="orion_pax.entity.Reply"/>
  </resultMap>

  <insert id="insert" parameterType="orion_pax.entity.Discussion">
    insert into f_discussion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        d_id,
      </if>
      <if test="name != null">
        d_name,
      </if>
      <if test="remark != null">
        d_remark,
      </if>
      <if test="startTime != null">
        d_start_time,
      </if>
      <if test="status != null">
        d_status,
      </if>
      <if test="pId != null">
        d_p_id,
      </if>
      <if test="uId != null">
        d_u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="select" resultMap="DiscussionResultMap" parameterType="orion_pax.entity.Discussion">
      SELECT d_id ,d_name,d_remark,d_start_time,d_status,d_p_id,d_u_id,u_id,u_email,u_pwd,u_name,u_img,u_tel
      FROM f_discussion d
      LEFT JOIN f_user u
      ON d.d_u_id =  u.u_id
      WHERE d_p_id = #{pId} AND d_status=#{status}
      ORDER BY d_start_time ASC
  </select>

  <select id="getByPK" resultMap="DiscussionResultMap" parameterType="orion_pax.entity.Discussion">
      SELECT d_id ,d_name,d_remark,d_start_time,d_status,d_p_id,d_u_id,u_id,u_email,u_pwd,u_name,u_img,u_tel
      FROM f_discussion d
      LEFT JOIN f_user u
      ON d.d_u_id =  u.u_id
      WHERE d_id = #{id}
  </select>
  <select id="getDiscussionDetail" resultMap="DiscussionDetailResultMap" parameterType="orion_pax.entity.Discussion">
      SELECT d_id ,d_name,d_remark,d_start_time,d_status,d_p_id,d_u_id,r_id,r_remark,r_reply_time,r_u_id,r_d_id,u_id,u_email,u_pwd,u_name,u_img,u_tel
      FROM f_discussion d
      LEFT JOIN f_reply r
      ON d.d_id = r.r_d_id
      LEFT JOIN f_user u
      ON u.u_id = r.r_u_id
      WHERE d_id= #{id}
      ORDER BY r_reply_time ASC
  </select>
  <update id="updateByPK" parameterType="orion_pax.entity.Discussion" >
    UPDATE f_discussion
    SET d_status=1
    WHERE d_id=#{id}
  </update>
  <update id="openDiscussion" parameterType="orion_pax.entity.Discussion" >
    UPDATE f_discussion
    SET d_status=0
    WHERE d_id=#{id}
  </update>
</mapper>