<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orion_pax.dao.ReplyMapper">
  <resultMap id="BaseResultMap" type="orion_pax.entity.Reply">
    <result column="r_id" jdbcType="VARCHAR" property="id" />
    <result column="r_remark" jdbcType="VARCHAR" property="remark" />
    <result column="r_reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="r_u_id" jdbcType="VARCHAR" property="uId" />
    <result column="r_d_id" jdbcType="VARCHAR" property="dId" />
  </resultMap>
  <insert id="insert" parameterType="orion_pax.entity.Reply">
    insert into f_reply (r_id, r_remark, r_reply_time, 
      r_u_id, r_d_id)
    values (#{id,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{replyTime,jdbcType=TIMESTAMP}, 
      #{uId,jdbcType=VARCHAR}, #{dId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="orion_pax.entity.Reply">
    insert into f_reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        r_id,
      </if>
      <if test="remark != null">
        r_remark,
      </if>
      <if test="replyTime != null">
        r_reply_time,
      </if>
      <if test="uId != null">
        r_u_id,
      </if>
      <if test="dId != null">
        r_d_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null">
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=VARCHAR},
      </if>
      <if test="dId != null">
        #{dId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>