<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orion_pax.dao.ScheduleMapper">
  <resultMap id="BaseResultMap" type="orion_pax.entity.Schedule">
    <result column="s_id" jdbcType="VARCHAR" property="id" />
    <result column="s_name" jdbcType="VARCHAR" property="name" />
    <result column="s_status" jdbcType="INTEGER" property="status" />
    <result column="s_startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="s_endTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="s_p_id" jdbcType="VARCHAR" property="pId" />
  </resultMap>
  <insert id="insert" parameterType="orion_pax.entity.Schedule">
    insert into f_schedule (s_id, s_name, s_status, 
      s_startTime, s_endTime, s_p_id
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{pId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="orion_pax.entity.Schedule">
    insert into f_schedule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        s_id,
      </if>
      <if test="name != null">
        s_name,
      </if>
      <if test="status != null">
        s_status,
      </if>
      <if test="starttime != null">
        s_startTime,
      </if>
      <if test="endtime != null">
        s_endTime,
      </if>
      <if test="pId != null">
        s_p_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>